<% provide(:title,"Home") %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= @word  %></p>
<p style="color:red;">Named route root_url: <%= root_url %> </p>
<p style="color:red;">Named route root_path: <%= root_path %> </p>

<p>about_path <%= about_path %></p>
<p>about_url <%= about_url %></p>
<p>about_url <%= reverse(about_url) %></p>

<p id="dude">The reason you are reading this is because you didn't click it yet</p>

<img id="pic" src="https://pbs.twimg.com/profile_images/555279965194051585/swMjWLLf.jpeg"/>

<script>
   $(document).ready(function() {
     var color = window.prompt("What color?");
     $('body').css("background-color",color);
   }); 
</script>